body {
  background-color: rgb(249, 206, 213);
  background-image: url("../images/camel.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: arial, sans-serif;
  margin: 20px;
}

h1 {
  font-size: 18pt;
  color: #000000;
  margin-bottom: 10px;
}

h2 {
  font-size: 14pt;
  color: #0000ff;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 12pt;
  color: #aa5588;
  text-align: justify;
  font-family: arial, sans-serif;
  line-height: 1.4;
}

strong {
  color: #0000ff;
  font-family: verdana;
}

.style-properties {
  color: #0000ff;
  font-size: 12pt;
}

.copyright {
  font-style: italic;
  font-size: 10pt;
  color: #666666;
  margin-top: 20px;
}
